POSTGRESQL_DATABASE=challenge
POSTGRESQL_USERNAME=<CHANGE_ME>
POSTGRESQL_PASSWORD=<CHANGE_ME>
POSTGRESQL_POSTGRES_PASSWORD=<CHANGE_ME>
DB_HOST=postgresql
# MINIO_ROOT_USER length should be at least 3 characters
MINIO_ROOT_USER=<CHANGE_ME>
# MINIO_ROOT_PASSWORD length at least 8 characters
MINIO_ROOT_PASSWORD=<CHANGE_ME>
MINIO_BUCKET=document-bucket
MINIO_HOST=localhost
MINIO_PORT=9000
SPRING_PROFILES_ACTIVE=local
